// Imports

@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,700")
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700")
@import url("normalize.css")
@import "nib"

// Vars

vendor-prefixes = ms moz official webkit
$yellow = #fdd315
$blue = #27527e
$black = #1c1c1c
$gray = #515254
$lightengray = lighten($gray, 85%)

// General

*
  box-sizing border-box

html
  font-family "Roboto"
  font-size 16px

// header

.Header
  background $yellow
  padding 2rem
  position relative
  &-hamburger
    position absolute
    right 2rem
    top 1.25rem
    .Header-lines
      background white
      border-radius .25rem
      height .25rem
      margin-bottom .25rem
      width 1.75rem
      &:last-child
        margin-bottom 0
  &-exit
    position absolute
    right 2rem
    top 1.25rem
    .Header-lines
      background black
      border-radius .25rem
      height .25rem
      margin-bottom .25rem
      width 1.75rem
      &:first-child
        margin-top .5rem
        transform rotate(45deg)
      &:nth-child(2)
        margin-bottom .5rem
        margin-top -.5rem
        transform rotate(-45deg)
      &:last-child
        display none

// Form

button(c, t, p)
  background c
  border-bottom .25rem solid darken(c, p)
  border-radius .25rem
  color t
  cursor pointer
  font-size 1.5rem
  display block
  margin 1rem 0
  padding 1rem 0
  text-align center
  text-decoration none
  text-transform uppercase
  width 100%

.button
  button($blue, white, 25%)
  &--yellow
    button($yellow, $blue, 15%)

input[type="submit"]
  border-left none
  border-right none
  border-top none

input[type="text"], input[type="email"], input[type="password"], textarea
  border 1px solid $gray
  margin .5rem 0
  padding 1rem .5rem

select
  padding 1rem

textarea
  display block
  resize vertical
  width 100%

// Text

a
  color $blue

blockquote
  color $blue
  border-left 0.25rem solid rgba($blue, .5)
  font-weight 300
  margin 1rem
  padding-left 3rem
  position relative
  &:before
    color rgba($blue, .5)
    content open-quote
    font-size 5rem
    font-weight 700
    left .5rem
    position absolute
    top -.5rem

code
  background $lightengray
  border-radius .25rem
  display block
  margin 1rem
  padding 1rem

h1, h2, h3, h4, h5, h6
  margin 1rem 0

h1
  font-weight 700
  font-size 2rem
  text-transform uppercase

h2
  font-weight 400
  font-size 2rem
  text-transform uppercase

h3
  font-family "Roboto Slab"
  font-weight 700
  font-size 1.5rem

h4
  font-family "Roboto Slab"
  font-weight 400
  font-size 1.5rem

h5
  font-weight 700
  font-size 1.5rem

h6
  font-weight 400
  font-size 1.5rem

// Font

@font-face
    font-family 'icomoon'
    src url('../fonts/icomoon.eot?46frue')
    src url('../fonts/icomoon.eot?46frue#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?46frue') format('truetype'), url('../fonts/icomoon.woff?46frue') format('woff'), url('../fonts/icomoon.svg?46frue#icomoon') format('svg')
    font-weight normal
    font-style normal

[class^="icon-"], [class*=" icon-"]
    font-family 'icomoon' !important
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

.icon-sms:before
    content "\e900"
.icon-map:before
    content "\e901"
.icon-medicine:before
    content "\e902"
.icon-clothes:before
    content "\e903"
.icon-lantern:before
    content "\e904"
.icon-hammer:before
    content "\e905"
.icon-news:before
    content "\e906"
.icon-pointer:before
    content "\e907"
.icon-marmalade:before
    content "\e908"

// Grid

.container
  margin-right auto
  margin-left auto
  padding-right 2%
  padding-left 2%
  max-width 98%
.row
  box-sizing border-box
  display flex
  flex-direction row
  flex-wrap wrap
  flex 0 1 auto
  margin-left -1%
  margin-right -1%
.row + .row
  margin-bottom 10px
.row.reverse
  flex-direction row-reverse
.col.reverse
  flex-direction column-reverse

// mobile

.mobile-col-0,
.mobile-col-1,
.mobile-col-2,
.mobile-col-3,
.mobile-col-4,
.mobile-col-5,
.mobile-col-6,
.mobile-col-7,
.mobile-col-8,
.mobile-col-9,
.mobile-col-10,
.mobile-col-11,
.mobile-col-12
  box-sizing border-box
  flex 0 0 auto
  padding-right 1%
  padding-left 1%
.mobile-col-0
  flex-grow 1
  flex-basis 0
  max-width 100%
.mobile-col-1
  flex-basis 8.333%
  max-width 8.333%
.mobile-col-2
  flex-basis 16.667%
  max-width 16.667%
.mobile-col-3
  flex-basis 25%
  max-width 25%
.mobile-col-4
  flex-basis 33.333%
  max-width 33.333%
.mobile-col-5
  flex-basis 41.667%
  max-width 41.667%
.mobile-col-6
  flex-basis 50%
  max-width 50%
.mobile-col-7
  flex-basis 58.333%
  max-width 58.333%
.mobile-col-8
  flex-basis 66.667%
  max-width 66.667%
.mobile-col-9
  flex-basis 75%
  max-width 75%
.mobile-col-10
  flex-basis 83.333%
  max-width 83.333%
.mobile-col-11
  flex-basis 91.667%
  max-width 91.667%
.mobile-col-12
  flex-basis 100%
  max-width 100%
.mobile-col-offset-1
  margin-left 8.333%
.mobile-col-offset-2
  margin-left 16.667%
.mobile-col-offset-3
  margin-left 25%
.mobile-col-offset-4
  margin-left 33.333%
.mobile-col-offset-5
  margin-left 41.667%
.mobile-col-offset-6
  margin-left 50%
.mobile-col-offset-7
  margin-left 58.333%
.mobile-col-offset-8
  margin-left 66.667%
.mobile-col-offset-9
  margin-left 75%
.mobile-col-offset-10
  margin-left 83.333%
.mobile-col-offset-11
  margin-left 91.667%

.start
  justify-content flex-start
  text-align start
.center
  justify-content center
  text-align center
.end
  justify-content flex-end
  text-align end
.top
  align-items flex-start
.middle
  align-items center
.bottom
  align-items flex-end
.around
  justify-content space-around
.between
  justify-content space-between
.first
  order -1
.last
  order 1

// Media queries

// tablet

@media (min-width: 480px)
  .tablet-col-0,
  .tablet-col-1,
  .tablet-col-2,
  .tablet-col-3,
  .tablet-col-4,
  .tablet-col-5,
  .tablet-col-6,
  .tablet-col-7,
  .tablet-col-8,
  .tablet-col-9,
  .tablet-col-10,
  .tablet-col-11,
  .tablet-col-12
    box-sizing border-box
    flex 0 0 auto
    padding-right 1%
    padding-left 1%
  .tablet-col-0
    flex-grow 1
    flex-basis 0
    max-width 100%
  .tablet-col-1
    flex-basis 8.333%
    max-width 8.333%
  .tablet-col-2
    flex-basis 16.667%
    max-width 16.667%
  .tablet-col-3
    flex-basis 25%
    max-width 25%
  .tablet-col-4
    flex-basis 33.333%
    max-width 33.333%
  .tablet-col-5
    flex-basis 41.667%
    max-width 41.667%
  .tablet-col-6
    flex-basis 50%
    max-width 50%
  .tablet-col-7
    flex-basis 58.333%
    max-width 58.333%
  .tablet-col-8
    flex-basis 66.667%
    max-width 66.667%
  .tablet-col-9
    flex-basis 75%
    max-width 75%
  .tablet-col-10
    flex-basis 83.333%
    max-width 83.333%
  .tablet-col-11
    flex-basis 91.667%
    max-width 91.667%
  .tablet-col-12
    flex-basis 100%
    max-width 100%
  .tablet-col-offset-1
    margin-left 8.333%
  .tablet-col-offset-2
    margin-left 16.667%
  .tablet-col-offset-3
    margin-left 25%
  .tablet-col-offset-4
    margin-left 33.333%
  .tablet-col-offset-5
    margin-left 41.667%
  .tablet-col-offset-6
    margin-left 50%
  .tablet-col-offset-7
    margin-left 58.333%
  .tablet-col-offset-8
    margin-left 66.667%
  .tablet-col-offset-9
    margin-left 75%
  .tablet-col-offset-10
    margin-left 83.333%
  .tablet-col-offset-11
      margin-left 91.667%

// desktop

@media (min-width: 960px)
  .desktop-col-0,
  .desktop-col-1,
  .desktop-col-2,
  .desktop-col-3,
  .desktop-col-4,
  .desktop-col-5,
  .desktop-col-6,
  .desktop-col-7,
  .desktop-col-8,
  .desktop-col-9,
  .desktop-col-10,
  .desktop-col-11,
  .desktop-col-12
    box-sizing border-box
    flex 0 0 auto
    padding-right 1%
    padding-left 1%
  .desktop-col-0
    flex-grow 1
    flex-basis 0
    max-width 100%
  .desktop-col-1
    flex-basis 8.333%
    max-width 8.333%
  .desktop-col-2
    flex-basis 16.667%
    max-width 16.667%
  .desktop-col-3
    flex-basis 25%
    max-width 25%
  .desktop-col-4
    flex-basis 33.333%
    max-width 33.333%
  .desktop-col-5
    flex-basis 41.667%
    max-width 41.667%
  .desktop-col-6
    flex-basis 50%
    max-width 50%
  .desktop-col-7
    flex-basis 58.333%
    max-width 58.333%
  .desktop-col-8
    flex-basis 66.667%
    max-width 66.667%
  .desktop-col-9
    flex-basis 75%
    max-width 75%
  .desktop-col-10
    flex-basis 83.333%
    max-width 83.333%
  .desktop-col-11
    flex-basis 91.667%
    max-width 91.667%
  .desktop-col-12
    flex-basis 100%
    max-width 100%
  .desktop-col-offset-1
    margin-left 8.333%
  .desktop-col-offset-2
    margin-left 16.667%
  .desktop-col-offset-3
    margin-left 25%
  .desktop-col-offset-4
    margin-left 33.333%
  .desktop-col-offset-5
    margin-left 41.667%
  .desktop-col-offset-6
    margin-left 50%
  .desktop-col-offset-7
    margin-left 58.333%
  .desktop-col-offset-8
    margin-left 66.667%
  .desktop-col-offset-9
    margin-left 75%
  .desktop-col-offset-10
    margin-left 83.333%
  .desktop-col-offset-11
      margin-left 91.667%
